#. To avoid information disclosure, serializers SHOULD omit the default
   value of structure members that are marked with the :ref:`internal-trait`.
#. Deserializers MUST tolerate receiving the default value of a structure
   member.
#. Client deserializers SHOULD fill in a default zero value for structure
   members marked with the :ref:`required-trait` that have no serialized
   value, and the targeted shape supports zero values. While the server is
   in error, it does allow clients to function in the event a service is
   miconfigured.
